<section class="valine" id="comments">
	<div id="vcomments" ></div>

    <script src='//cdn.jsdelivr.net/npm/valine@1.1.9/dist/Valine.min.js'></script>
	<script>
        var loadComment = function(){
	        new Valine({
		        el: '#vcomments',
		        appId: 'RWJCM9UQW07DGPJGy2xvOQ7l-gzGzoHsz',
		        appKey: 'EY1VbDQQchduEg09LGaC8uPq',
		        placeholder: '说点什么吧...'
		    });
        }
    </script>
    <script> loadComment(); </script>

</section>